<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Agregar nuevo reclamo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link th:href="@{styles/main.css}" rel="stylesheet" />
<!--
<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/> -->

    <script src='main.js'></script>
</head>
<body>
   <div class="container">
    <main role="main" class="flex-shrink-0">
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Agregar nuevo reclamo</h1>

                <h2>Guardar reclamo</h2>
                <form action="#" th:action="@{/guardarReclamo2}" th:object="${nvoReclamo}", method="POST">
                    <input type="number" th:field="*{Codigo_Interno_Reclamo}" placeholder="Codigo interno de reclamo" class="form-control mb-4 col-4">
                    <input type="text" th:field ="*{Detalle_Reclamo}" placeholder="Detalle reclamo" class="form-control mb-4 col-4">
                    <input type="datetime-local" th:field ="*{Fecha_Recepcion_Reclamo}" placeholder="fecha recepcion de reclamo" class="form-control mb-4 col-4">
                    <input type="number" min="1900" max="2099" th:field ="*{Temporada_Recepcion_Reclamo_1}" placeholder="temporada de recepcion 1" class="form-control mb-4 col-4">
                    <!--th:text="${#dates.format(user.birtdate, 'yyyy-MM-dd')}"
                    <input type="text" class="form-control" id="date" name="date"></input>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    
                    <div class="container">
                        <h2 class="mt-5">Your date of birth: <strong th:text="${#dates.format(user.birtdate, 'yyyy-MM-dd')}" ></strong></h2>

                        
                    </div>-->
                    <!--
                    <div class="form-group row">
                        <div class="col-md-4 mt-5">
                            <label for="birthdate">Date of birth</label>
                            <div class="input-group date">
                                <input type="text" class="form-control" id="birthdate" autocomplete="off" th:field="*{Temporada_Recepcion_Reclamo_2}"/>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post">
     <div class="form-group ">
      <label class="control-label " for="date">
       Date
      </label>
      <input class="form-control" th:field ="*{Temporada_Recepcion_Reclamo_2}" placeholder="MM/DD/YYYY" type="text"/>
     </div>
     <div class="form-group">
      <div>
      
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

                    <!--<input type="number" min="1900" max="2099" th:field ="*{Temporada_Recepcion_Reclamo_2}" placeholder="temporada de recepcion 2" class="form-control mb-4 col-4">-->
                    <input type="datetime-local" th:field ="*{Fecha_Respuesta_Reclamo}" placeholder="fecha respuesta de reclamo" class="form-control mb-4 col-4">
                    <input type="number" min="1900" max="2099" th:field ="*{Temporada_Proceso_Reclamo_1}" placeholder="Temp proceso reclamo1" class="form-control mb-4 col-4">
                    <input type="number" min="1900" max="2099" th:field ="*{Temporada_Proceso_Reclamo_2}" placeholder="Temp proceso reclamo1" class="form-control mb-4 col-4">
                    <input type="number" th:field ="*{Estado_Id_estado}" placeholder="Id de estado" class="form-control mb-4 col-4">
                    <input type="number" th:field ="*{Investigacion_Id_Investigacion}" placeholder="Id investigacion" class="form-control mb-4 col-4">
                    <input type="number" th:field ="*{Tipo_Producto_Id_Producto}" placeholder="Id producto" class="form-control mb-4 col-4">
                    <input type="number" th:field ="*{Marca_Id_Marca}" placeholder="Id marca" class="form-control mb-4 col-4">
                    <input type="number" th:field ="*{Tipo_Fruta_Id_Tipo_Fruta}" placeholder="Id fruta" class="form-control mb-4 col-4">
                    <input type="number" th:field ="*{Cliente_Id_Cliente}" placeholder="Id cliente" class="form-control mb-4 col-4">
                    <input type="number" th:field ="*{Sub_Tipo_CR_Id_Sub_Tipo_CR}" placeholder="Id sub casi reclamo" class="form-control mb-4 col-4">
                    <button type="submit" class="btn btn-info col-2">Guardar reclamo</button>
                </form>
           </div>
        </div>
    </main>

   </div>
<!--Scripts para el date datapicker -->
   <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
</body>
</html>