<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Buscar Reclamos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
   <table class="table table-hover table-sm table-bordered">
       <thead>
           <tr>
               <th>Número de reclamo</th>
               <th>código interno</th>
               <th>Detalle</th>
               <th>Fecha de recepción</th>
               <th>Temporada de recepción</th>
               <th>Temporada de recepción 2</th>
               <th>Fecha de respuesta</th>
               <th>Temporada de proceso</th>
               <th>Temporada de proceso 2</th>
               <th>Estado</th>
               <th>Investigación</th>
               <th>Tipo de producto</th>
               <th>Marca</th>
               <th>Tipo de fruta</th>
               <th>Cliente</th>
               <th>Sub-tipo de clasificación</th>
           </tr>
       </thead>
       <tbody>
           <tr th:each="ALLR:${AllReclamo}">
               <td th:text=${ALLR.Numero_Reclamo}>${ALLR.Numero_Reclamo}</td>
               <td th:text=${ALLR.Codigo_Interno_Reclamo}>${ALLR.Codigo_Interno_Reclamo}</td> 
               <td th:text=${ALLR.Detalle_Reclamo}>${ALLR.Detalle_Reclamo}</td>
               <td th:text=${ALLR.Fecha_Recepcion_Reclamo}>${ALLR.Fecha_Recepcion_Reclamo}</td> 
               <td th:text=${ALLR.Temporada_Recepcion_Reclamo_1}>${ALLR.Temporada_Recepcion_Reclamo_1}</td>
               <td th:text=${ALLR.Temporada_Recepcion_Reclamo_2}>${ALLR.Temporada_Recepcion_Reclamo_2}</td> 
               <td th:text=${ALLR.Fecha_Respuesta_Reclamo}>${ALLR.Fecha_Respuesta_Reclamo}</td>
               <td th:text=${ALLR.Temporada_Proceso_Reclamo_1}>${ALLR.Temporada_Proceso_Reclamo_1}</td>
               <td th:text=${ALLR.Temporada_Proceso_Reclamo_2}>${ALLR.Temporada_Proceso_Reclamo_2}</td>
               <td th:text=${ALLR.Estado_Id_estado}>${ALLR.Estado_Id_estado}</td> 
               <td th:text=${ALLR.Investigacion_Id_Investigacion}>${ALLR.Investigacion_Id_Investigacion}</td>
               <td th:text=${ALLR.Tipo_Producto_Id_Producto}>${ALLR.Tipo_Producto_Id_Producto}</td> 
               <td th:text=${ALLR.Marca_Id_Marca}>${ALLR.Marca_Id_Marca}</td>
               <td th:text=${ALLR.Tipo_Fruta_Id_Tipo_Fruta}>${ALLR.Tipo_Fruta_Id_Tipo_Fruta}</td> 
               <td th:text=${ALLR.Cliente_Id_Cliente}>${ALLR.Cliente_Id_Cliente}</td>
               <td th:text=${ALLR.Sub_Tipo_CR_Id_Sub_Tipo_CR}>${ALLR.Sub_Tipo_CR_Id_Sub_Tipo_CR}</td>  
            </tr>
       </tbody>
    </table>
</body>
</html>