<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Buscar Reclamos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div th:replace="~{fragments/navTrabajador :: navTrabajador}"> </div>
    <main role="main" class="flex-shrink-0">
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Buscar reclamos</h1>
            </div>
        </div>
    </main>
   <table class="table table-hover table-sm table-bordered">
       <thead>
           <tr>
               <th>Número de reclamo</th>
               <th>código interno</th>
               <th>Detalle</th>
               <th>Fecha de recepción</th>
               <th>Temporada de recepción</th>
               <th>Temporada de recepción 2</th>
               <th>Fecha de respuesta</th>
               <th>Temporada de proceso</th>
               <th>Temporada de proceso 2</th>
               <th>Estado</th>
               <th>Investigación</th>
               <th>Tipo de producto</th>
               <th>Marca</th>
               <th>Tipo de fruta</th>
               <th>Cliente</th>
               <th>Sub-tipo de clasificación</th>
           </tr>
       </thead>
       <tbody>
           <tr th:each="ER:${entiReclamos}">
               <td th:text=${ER.Rrec.Numero_Reclamo}>${ER.Rrec.Numero_Reclamo}</td>
               <td th:text=${ER.Rrec.Codigo_Interno_Reclamo}>${ER.Rrec.Codigo_Interno_Reclamo}</td> 
               <td th:text=${ER.Rrec.Detalle_Reclamo}>${ER.Rrec.Detalle_Reclamo}</td>
               <td th:text=${ER.Rrec.Fecha_Recepcion_Reclamo}>${ER.Rrec.Fecha_Recepcion_Reclamo}</td> 
               <td th:text=${ER.Rrec.Temporada_Recepcion_Reclamo_1}>${ER.Rrec.Temporada_Recepcion_Reclamo_1}</td>
               <td th:text=${ER.Rrec.Temporada_Recepcion_Reclamo_2}>${ER.Rrec.Temporada_Recepcion_Reclamo_2}</td> 
               <td th:text=${ER.Rrec.Fecha_Respuesta_Reclamo}>${ER.Rrec.Fecha_Respuesta_Reclamo}</td>
               <td th:text=${ER.Rrec.Temporada_Proceso_Reclamo_1}>${ER.Rrec.Temporada_Proceso_Reclamo_1}</td>
               <td th:text=${ER.Rrec.Temporada_Proceso_Reclamo_2}>${ER.Rrec.Temporada_Proceso_Reclamo_2}</td>
               <td th:text=${ER.Rrec.Estado_Id_estado}>${ER.Rrec.Estado_Id_estado}</td> 
               <td th:text=${ER.Rrec.Investigacion_Id_Investigacion}>${ER.Rrec.Investigacion_Id_Investigacion}</td>
               <td th:text=${ER.Rrec.Tipo_Producto_Id_Producto}>${ER.Rrec.Tipo_Producto_Id_Producto}</td> 
               <td th:text=${ER.Rrec.Marca_Id_Marca}>${ALER.RrecLR.Marca_Id_Marca}</td>
               <td th:text=${ER.Fru.Nombre_Tipo_Fruta}>${ER.Fru.Nombre_Tipo_Fruta}</td> 
               <td th:text=${ER.Rrec.Cliente_Id_Cliente}>${ER.Rrec.Cliente_Id_Cliente}</td>
               <td th:text=${ER.Rrec.Sub_Tipo_CR_Id_Sub_Tipo_CR}>${ER.Rrec.Sub_Tipo_CR_Id_Sub_Tipo_CR}</td>  
            </tr>
       </tbody>
    </table>

    <label>Choose a browser from this list:
        <input list="browsers" name="myBrowser" /></label>
        <datalist id="browsers">
          <option value="Chrome">
          <option value="Firefox">
          <option value="Internet Explorer">
          <option value="Opera">
          <option value="Safari">
          <option value="Microsoft Edge">
        </datalist>


       <-- <form>
            <label for="cars">Choose a car:</label>
            <select name="cars" id="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
            <input type="submit" value="Submit">
          </form> --/>
</body>
</html>