<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Crear reclamos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
   <table class="table">
       <thead>
           <tr>
               <th>Id</th>
               <th>Nombre</th>
           </tr>
       </thead>
       <tbody>
           <tr th:each="LCR:${ListCla_R}">
               <td th:text=${LCR.Id_Clasificacion_Reclamo}>${LCR.Id_Clasificacion_Reclamo}</td>
               <td th:text=${LCR.Nombre_Clasificacion_Reclamo}>${LCR.Nombre_Clasificacion_Reclamo}</td> 
            </tr>
       </tbody>
    </table>
</body>
</html>