<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Editar reclamo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link th:href="@{styles/main.css}" rel="stylesheet" />
<!--
<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/> -->

    <script src='main.js'></script>
</head>
<body>
    <div th:replace="~{fragments/navTrabajador :: navTrabajador}"> </div>
    <div class="container">
    <main role="main" class="flex-shrink-0">
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Editar reclamo</h1>

                
                
                <form action="#" th:action="@{/rbp}" th:object="${noNuevo.Rrec}", method="POST">
                    <h5>Ingrese el número de reclamo:</h5>
                    <input type="number" th:field="*{Numero_Reclamo}" placeholder="Codigo interno de reclamo" class="form-control mb-4 col-4">
                    <h5>Ingrese el código interno de reclamo:</h5>
                    <input type="number" th:field="*{Codigo_Interno_Reclamo}" placeholder="Codigo interno de reclamo" class="form-control mb-4 col-4">
                    <h5>Ingrese el detalle de reclamo:</h5>
                    <input type="text" th:field ="*{Detalle_Reclamo}" placeholder="Detalle reclamo" class="form-control mb-4 col-4">
                    <h5>Seleccione la fecha de recepción de reclamo:</h5>
                    <input type="date" th:field ="*{Fecha_Recepcion_Reclamo}" placeholder="fecha recepcion de reclamo" class="form-control mb-4 col-4">
                    <h5>Ingrese la temporada de recepción de reclamo:</h5>
                    <input type="number" min="1900" max="2099" th:field ="*{Temporada_Recepcion_Reclamo_1}" placeholder="temporada de recepcion 1" class="form-control mb-4 col-4">
                    <input type="number" min="1900" max="2099" th:field ="*{Temporada_Recepcion_Reclamo_2}" placeholder="temporada de recepcion 2" class="form-control mb-4 col-4">
                    <h5>Seleccione la fecha de respuesta de reclamo:</h5>                 
                    <input type="date" th:field ="*{Fecha_Respuesta_Reclamo}" placeholder="fecha respuesta de reclamo" class="form-control mb-4 col-4">
                    <h5>Ingrese la temporada de proceso de reclamo:</h5>
                    <input type="number" min="1900" max="2099" th:field ="*{Temporada_Proceso_Reclamo_1}" placeholder="Temp proceso reclamo1" class="form-control mb-4 col-4">
                    <input type="number" min="1900" max="2099" th:field ="*{Temporada_Proceso_Reclamo_2}" placeholder="Temp proceso reclamo2" class="form-control mb-4 col-4">
                    <h5>Ingrese la investigación, pendiente:</h5>
                    <input type="number" th:field ="*{Investigacion_Id_Investigacion}" placeholder="Id investigacion" class="form-control mb-4 col-4">
                    <h5>Seleccione de la lista el estado del reclamo:</h5>
                    <div class="col-lg-3"   >
                        <select class="form-control" id="testOrder" name="testOrder" th:field="*{Estado_Id_estado}"> 
                        <option value="">Seleccione el estado</option>
                        <option th:each="test : ${estados}" th:value="${test.IdEstado}" th:text="${test.Estado}"  ></option>
                        </select>
                    </div>
                    <h5>Seleccione de la lista el producto del reclamo:</h5>
                    <div class="col-lg-3"   >
                        <select class="form-control" id="testOrder" name="testOrder" th:field="*{Tipo_Producto_Id_Producto}"> 
                        <option value="">Seleccione el producto</option>
                        <option th:each="test : ${productos}" th:value="${test.IdProducto}" th:text="${test.NombreProducto}"  ></option>
                        </select>
                    </div>
                    <h5>Seleccione de la lista la marca del producto:</h5>
  
                    <div class="col-lg-3"   >
                        <select class="form-control" id="testOrder" name="testOrder" th:field="*{Marca_Id_Marca}"> 
                        <option value="">Seleccione la marca</option>
                        <option th:each="test : ${marcas}" th:value="${test.IdMarca}" th:text="${test.NombreMarca}"  ></option>
                        </select>
                    </div>
                    <h5>Seleccione de la lista el tipo de fruta del producto:</h5>
                    <div class="col-lg-3"   >
                        <select class="form-control" id="testOrder" name="testOrder" th:field="*{Tipo_Fruta_Id_Tipo_Fruta}"> 
                        <option value="">Seleccionela fruta</option>
                        <option th:each="test : ${tipo_frutas}" th:value="${test.Id_Tipo_Fruta}" th:text="${test.Nombre_Tipo_Fruta}"  ></option>
                        </select>
                    </div>                 
                    <h5>Seleccione de la lista el cliente que realizó el reclamo:</h5>
                    <div class="col-lg-3"   >
                        <select class="form-control" id="testOrder" name="testOrder" th:field="*{ClienteIdCliente}"> 
                        <option value="">Seleccione el cliente</option>
                        <option th:each="test : ${clientes}" th:value="${test.IdCliente}" th:text="${test.NombreCliente}"  ></option>
                        </select>
                    </div>
                    <h5>Seleccione de la lista el tipo de reclamo, pendiente:</h5>
                    <input type="number" th:field ="*{Sub_Tipo_CR_Id_Sub_Tipo_CR}" placeholder="Id sub casi reclamo" class="form-control mb-4 col-4">
                    <button type="submit" th:href = "@{/guardaReclamo}" class="btn btn-info col-2">Buscar reclamo</button>
                </form>
           </div>
        </div>
    </main>

   </div>
<!--Scripts para el date datapicker -->
   <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>

</body>
</html>