<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div th:replace="~{fragments/navGeneral :: navGeneral}"></div>
    <h1>Hola spring boot, alfin funcionaste

        Esta sera la pagina home/login
    </h1>
</body>
</html>