<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Buscar Reclamos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--<link rel='stylesheet' type='text/css' media='screen' href='main.css'>-->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link th:href="@{styles/main.css}" rel="stylesheet" />
    <script src='main.js'></script>
</head>
<body>
    <div th:replace="~{fragments/navTrabajador :: navTrabajador}"> </div>
    
    
    <div  class="container my-2">
        <main role="main" class="flex-shrink-0">
            <div class="container mt-5">
                <div class="jumbotron">
                    <h1 class="display-4">Listar reclamos</h1>
                </div>
            </div>
        </main>
        <a th:href = "@{/nuevoReclamo}" class= "btn btn-primary btn-sm mb-3">Agregar nuevo reclamo</a>
        <table border="1" class="table table-striped table-responsive-md" >
            <thead>
                <tr>
                    <th>Número de reclamo</th>
                    <th>código interno</th>
                    <th>Detalle</th>
                    <th>Fecha de recepción</th>
                    <th>Temporada de recepción</th>
                    <th>Temporada de recepción 2</th>
                    <th>Fecha de respuesta</th>
                    <th>Temporada de proceso</th>
                    <th>Temporada de proceso 2</th>
                    <th>Estado</th>
                    <th>Investigación</th>
                    <th>Tipo de producto</th>
                    <th>Marca</th>
                    <th>Tipo de fruta</th>
                    <th>Cliente</th>
                    <th>Sub-tipo de clasificación</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ER:${entiReclamos}">
                    <td th:text=${ER.Rrec.Numero_Reclamo}>${ER.Rrec.Numero_Reclamo}</td>
                    <td th:text=${ER.Rrec.Codigo_Interno_Reclamo}>${ER.Rrec.Codigo_Interno_Reclamo}</td> 
                    <td th:text=${ER.Rrec.Detalle_Reclamo}>${ER.Rrec.Detalle_Reclamo}</td>
                    <td th:text=${ER.Rrec.Fecha_Recepcion_Reclamo}>${ER.Rrec.Fecha_Recepcion_Reclamo}</td> 
                    <td th:text=${ER.Rrec.Temporada_Recepcion_Reclamo_1}>${ER.Rrec.Temporada_Recepcion_Reclamo_1}</td>
                    <td th:text=${ER.Rrec.Temporada_Recepcion_Reclamo_2}>${ER.Rrec.Temporada_Recepcion_Reclamo_2}</td> 
                    <td th:text=${ER.Rrec.Fecha_Respuesta_Reclamo}>${ER.Rrec.Fecha_Respuesta_Reclamo}</td>
                    <td th:text=${ER.Rrec.Temporada_Proceso_Reclamo_1}>${ER.Rrec.Temporada_Proceso_Reclamo_1}</td>
                    <td th:text=${ER.Rrec.Temporada_Proceso_Reclamo_2}>${ER.Rrec.Temporada_Proceso_Reclamo_2}</td>
                    <td th:text=${ER.Est.Estado}>${ER.Est.Estado}</td> 
                    <td th:text=${ER.Rrec.Investigacion_Id_Investigacion}>${ER.Rrec.Investigacion_Id_Investigacion}</td>
                    <td th:text=${ER.Pro.NombreProducto}>${ER.Pro.NombreProducto}</td> 
                    <td th:text=${ER.Mar.NombreMarca}>${ER.Mar.NombreMarca}</td>
                    <td th:text=${ER.Fru.Nombre_Tipo_Fruta}>${ER.Fru.Nombre_Tipo_Fruta}</td> 
                    <td th:text=${ER.Cli.NombreCliente}>${ER.Cli.NombreCliente}</td>
                    <td th:text=${ER.Rrec.Sub_Tipo_CR_Id_Sub_Tipo_CR}>${ER.Rrec.Sub_Tipo_CR_Id_Sub_Tipo_CR}</td>  
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>