<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Agregar nuevo reclamo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link th:href="@{styles/main.css}" rel="stylesheet" />


    <script src='main.js'></script>
</head>
<body>
   <div class="container">
    <main role="main" class="flex-shrink-0">
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">display select</h1>

                <h1>Esto es el dropdown de cleinte</h1>    

 <!--
                <form th:action="@{/selecResp}">
                    <div class="col-lg-3" th:object="${clientes}">
                        <select class="form-control" id="testOrder" name="testOrder">
                            <option value="">Seleccione el cliente</option>
                            <option th:each="test : ${clientes}" th:text="${test.NombreCliente}"></option>
                        </select>
                    </div>
                    
                </form>

                
            -->

            
                <h1>Esto el input</h1>    
               
               
            <form action="#" th:action="@{/selecResp}" th:object="${nvoReclamo}", method="POST">
                <div class="col-lg-3"   >
                    <select class="form-control" id="testOrder" name="testOrder" th:field="*{Cli}"> 
                    <option value="">Seleccione el cliente</option>
                    <option th:each="test : ${clientes}" th:value="${test.IdCliente}" th:text="${test.NombreCliente}"  ></option>
                    </select>
                </div>
            
                <button type="submit"  class="btn btn-info col-2">Guardar registro cliente</button>
            </form>





 <!--
th:value="${cli.NombreCliente}" th:value="${cli.IdCliente}" 


     th:selected="${(test.NombreCliente) eq  (cli.NombreCliente)}
th:field="*{test.IdCliente}"

                <h2>Guardar reclamo</h2>
                 <h1>Deberia aparecer aca</h1>    
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr>
                <th>Nombre de frutas</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="a:${AllFrutas}">
                <td th:text=${a.Nombre_Tipo_Fruta}>${aNombre_Tipo_Fruta}</td>
                
             </tr>
        </tbody>
     </table>
    

    <label>Choose a browser from this list:
        <input list="browsers" name="myBrowser" /></label>
        <datalist id="browsers">
          <option value="Chrome">
          <option value="Firefox">
          <option value="Internet Explorer">
          <option value="Opera">
          <option value="Safari">
          <option value="Microsoft Edge">
        </datalist>


        <form>
            <label for="cars">Choose a car:</label>
            <select name="cars" id="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
            <input type="submit" value="Submit">
          </form> -->
               
           </div>
        </div>
    </main>

   </div>


</body>
</html>